<!DOCTYPE html>
<html>
  <head>
    <title>Url Shortener</title>
    <meta name="returns a timestamp whether you believe it or not" content="A cool (?) thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1> Url Shortener </h1>
    </header>
    <main>
      <p>
        Creates and stores a shortened link to the inputed URL.
      </p>
      <h3> Shortened Url Creation </h3>
      <p>
        <i>https://ssc-url-shortener.glitch.me/</i> + {url you want shortened}
      </p>
      <h3>Creation Example Input</h3>
      <p>
        <i>https://ssc-url-shortener.glitch.me/https://www.google.com</i>
      </p>
      <h3>Creation Example Output </h3>
      <p>
        {original : "https://www.google.com", shortened : 0}
      </p>
      <h3> Usage </h3>
      <p> <i>https://ssc-url-shortener.glitch.me/0</i></p>
      <p> now redirects to... </p>
      <p> <i>https://www.google.com </i></p>
    </main>   
  </body>
</html>
